pydicom
pytorch_lightning
test_tube
torch===1.7.1
torchvision===0.8.2
torchaudio===0.7.2
scipy
opencv-python
future
albumentations
matplotlib
pretrainedmodels
vtk
segmentation-models-pytorch
transforms3d